-- ==========================================
-- Tạo Database TheSpaceCoffee2
-- ==========================================
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'TheSpaceCoffee2')
BEGIN
    DROP DATABASE [TheSpaceCoffee2];
END;
GO

CREATE DATABASE [TheSpaceCoffee2];
GO

USE [TheSpaceCoffee2];
GO

-- ==========================================
-- 1. Bảng tbQuanCafe
-- ==========================================
CREATE TABLE tbQuanCafe (
    MaQuan INT IDENTITY(1,1) PRIMARY KEY,
    TenQuan NVARCHAR(255) NOT NULL,
    DiaChi NVARCHAR(255) NOT NULL,
    SDT VARCHAR(20) NOT NULL UNIQUE,
    Email NVARCHAR(255) NULL UNIQUE
);
GO

-- ==========================================
-- 2. Bảng tbNguyenLieu
-- ==========================================
CREATE TABLE tbNguyenLieu (
    MaNguyenLieu INT IDENTITY(1,1) PRIMARY KEY,
    TenNguyenLieu NVARCHAR(255) NOT NULL,
    SoLuong DECIMAL(10,2) NOT NULL DEFAULT 0,
    DonViTinh NVARCHAR(50) NOT NULL,
    HanSuDung DATE NULL,
    DonGia DECIMAL(10,2) NOT NULL DEFAULT 0,
    SoLuongToiThieu DECIMAL(10,2) NOT NULL DEFAULT 0
);
GO

-- ==========================================
-- 3. Bảng tbNhomSanPham
-- ==========================================
CREATE TABLE tbNhomSanPham (
    MaNhomSP INT IDENTITY(1,1) PRIMARY KEY,
    TenNhomSP NVARCHAR(255) NOT NULL
);
GO

-- ==========================================
-- 4. Bảng tbSanPham (có cột GhiChu)
-- ==========================================
CREATE TABLE tbSanPham (
    MaSanPham INT IDENTITY(1,1) PRIMARY KEY,
    TenSanPham NVARCHAR(255) NOT NULL UNIQUE,
    GiaBan DECIMAL(10,2) NOT NULL CHECK (GiaBan > 0),
    MoTa NVARCHAR(MAX) NULL,
    HinhAnh NVARCHAR(MAX) NULL,
    GhiChu NVARCHAR(MAX) NULL, -- Cột ghi chú
    MaNhomSP INT NOT NULL,
    FOREIGN KEY (MaNhomSP) REFERENCES tbNhomSanPham(MaNhomSP) ON DELETE CASCADE
);
GO

-- ==========================================
-- 5. Bảng tbNhaCungCap
-- (Bảng này vẫn giữ kiểu UNIQUEIDENTIFIER vì không thuộc danh sách cần thay đổi)
-- ==========================================
CREATE TABLE tbNhaCungCap (
    MaNhaCungCap INT IDENTITY(1,1) PRIMARY KEY,
    TenNhaCungCap NVARCHAR(255) NOT NULL,
    DiaChi NVARCHAR(255) NULL,
    SDTNCC VARCHAR(20) NOT NULL UNIQUE,
    STK VARCHAR(50) NULL
);
GO

-- ==========================================
-- 6. Bảng tbNhanVien
-- ==========================================
CREATE TABLE tbNhanVien (
    MaNhanVien INT IDENTITY(1,1) PRIMARY KEY,
    MaQuan INT NOT NULL,
    HoTen NVARCHAR(255) NOT NULL,
    DiaChi NVARCHAR(255) NULL,
    NgaySinh DATE NULL,
    GioiTinh NVARCHAR(10) CHECK (GioiTinh IN ('Nam',N'Nữ')),
    ChucVu NVARCHAR(50) NOT NULL,
    SDT VARCHAR(20) NOT NULL UNIQUE,
    SoCCCD VARCHAR(50) NOT NULL UNIQUE,
    Email NVARCHAR(255) NULL UNIQUE,
    LuongCoBan DECIMAL(10,2) NOT NULL DEFAULT 0,
    HeSoLuong DECIMAL(4,2) NOT NULL DEFAULT 1,
    FOREIGN KEY (MaQuan) REFERENCES tbQuanCafe(MaQuan) ON DELETE CASCADE
);
GO

UPDATE tbNhanVien
SET ChucVu = N'Nhân viên'
WHERE ChucVu NOT IN (N'Quản lý', N'Nhân viên');
GO
ALTER TABLE tbNhanVien
ADD CONSTRAINT CHK_ChucVu CHECK (ChucVu IN (N'Quản lý', N'Nhân viên'));
GO




-- ==========================================
-- 7. Bảng tbKhachHang
-- ==========================================
CREATE TABLE tbKhachHang (
    MaKhachHang INT IDENTITY(1,1) PRIMARY KEY,
    TenKhachHang NVARCHAR(255) NOT NULL,
    SDTKhachHang VARCHAR(10) NOT NULL UNIQUE,
    DiaChi NVARCHAR(255) NOT NULL
);
GO

-- ==========================================
-- 8. Bảng tbGioHang
-- ==========================================
CREATE TABLE tbGioHang (
    MaKhachHang INT NOT NULL,
    MaSanPham INT NOT NULL,
    SoLuong INT NOT NULL CHECK (SoLuong >= 0),
    PRIMARY KEY (MaKhachHang, MaSanPham),
    FOREIGN KEY (MaKhachHang) REFERENCES tbKhachHang(MaKhachHang),
    FOREIGN KEY (MaSanPham) REFERENCES tbSanPham(MaSanPham)
);
GO

-- ==========================================
-- 9. Bảng tbQuyen
-- ==========================================
CREATE TABLE tbQuyen (
    MaQuyen INT IDENTITY(1,1) PRIMARY KEY,
    TenQuyen NVARCHAR(255) NOT NULL UNIQUE
);
GO

-- ==========================================
-- 10. Bảng tbTaiKhoan (Tài khoản nhân viên)
-- ==========================================
CREATE TABLE tbTaiKhoan (
    MaTaiKhoan INT IDENTITY(1,1) PRIMARY KEY,
    TenTaiKhoan NVARCHAR(255) NOT NULL UNIQUE,
    MatKhau NVARCHAR(255) NOT NULL,
    MaNhanVien INT NOT NULL,
    MaQuyen INT NOT NULL,
    FOREIGN KEY (MaNhanVien) REFERENCES tbNhanVien(MaNhanVien) ON DELETE CASCADE,
    FOREIGN KEY (MaQuyen) REFERENCES tbQuyen(MaQuyen) ON DELETE CASCADE
);
GO

-- ==========================================
-- 11. Bảng tbTaiKhoanKH (Tài khoản khách hàng)
-- ==========================================
CREATE TABLE tbTaiKhoanKH (
    MaTaiKhoan INT IDENTITY(1,1) PRIMARY KEY,
    TenTaiKhoan NVARCHAR(255) NOT NULL UNIQUE,
    MatKhau NVARCHAR(255) NOT NULL,
    MaKhachHang INT NOT NULL,
    MaQuyen INT NOT NULL,
    FOREIGN KEY (MaKhachHang) REFERENCES tbKhachHang(MaKhachHang) ON DELETE CASCADE,
    FOREIGN KEY (MaQuyen) REFERENCES tbQuyen(MaQuyen) ON DELETE CASCADE
);
GO


-- ==========================================
-- 12. Bảng tbPhieuNhapHang
-- ==========================================
CREATE TABLE tbPhieuNhapHang (
    MaPhieuNhap UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID() PRIMARY KEY,
    MaQuan INT NOT NULL,
    NgayLap DATE NOT NULL DEFAULT GETDATE(),
    MaNhanVien INT NOT NULL,
    MaNhaCungCap INT NOT NULL,
    GhiChu NVARCHAR(255) NULL,
    FOREIGN KEY (MaNhanVien) REFERENCES tbNhanVien(MaNhanVien),
    FOREIGN KEY (MaNhaCungCap) REFERENCES tbNhaCungCap(MaNhaCungCap),
    FOREIGN KEY (MaQuan) REFERENCES tbQuanCafe(MaQuan) ON DELETE CASCADE
);
GO

-- ==========================================
-- 13. Bảng tbPhieuNhapChiTiet
-- ==========================================
CREATE TABLE tbPhieuNhapChiTiet (
    MaPhieuNhap UNIQUEIDENTIFIER NOT NULL,
    MaNguyenLieu INT NOT NULL,
    SoLuong DECIMAL(10,2) NOT NULL CHECK (SoLuong > 0),
    DonGia DECIMAL(10,2) NOT NULL CHECK (DonGia > 0),
    ThanhTien AS (SoLuong * DonGia) PERSISTED,
    PRIMARY KEY (MaPhieuNhap, MaNguyenLieu),
    FOREIGN KEY (MaPhieuNhap) REFERENCES tbPhieuNhapHang(MaPhieuNhap) ON DELETE CASCADE,
    FOREIGN KEY (MaNguyenLieu) REFERENCES tbNguyenLieu(MaNguyenLieu) ON DELETE CASCADE
);
GO

-- ==========================================
-- 14. Bảng tbHoaDonBan (Hóa đơn)
-- ==========================================
CREATE TABLE tbHoaDonBan (
    MaHoaDon UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID() PRIMARY KEY,
    MaQuan INT NOT NULL,
    NgayLap DATE NOT NULL DEFAULT GETDATE(),
    MaNhanVien INT NOT NULL,
    MaKhachHang INT NULL,
    HinhThucThanhToan NVARCHAR(50) NOT NULL CHECK (HinhThucThanhToan IN (N'Tiền mặt', N'Chuyển khoản', N'QR')),
    TongTien DECIMAL(10,2) NOT NULL CHECK (TongTien > 0),
    TrangThai NVARCHAR(50) NOT NULL CHECK (TrangThai IN (N'Chưa hoàn thành', N'Hoàn thành', N'Đã hủy')),

    FOREIGN KEY (MaNhanVien) REFERENCES tbNhanVien(MaNhanVien),
    FOREIGN KEY (MaKhachHang) REFERENCES tbKhachHang(MaKhachHang),
    FOREIGN KEY (MaQuan) REFERENCES tbQuanCafe(MaQuan) ON DELETE CASCADE
);
GO

-- ==========================================
-- 15. Bảng tbChiTietHoaDonBan (Chi tiết hóa đơn)
-- ==========================================
CREATE TABLE tbChiTietHoaDonBan (
    MaHoaDon UNIQUEIDENTIFIER NOT NULL,
    MaSanPham INT NOT NULL,
    SoLuong INT NOT NULL CHECK (SoLuong > 0),
    DonGia DECIMAL(10,2) NOT NULL CHECK (DonGia > 0),
    ThanhTien AS (SoLuong * DonGia) PERSISTED,
    PRIMARY KEY (MaHoaDon, MaSanPham),
    FOREIGN KEY (MaHoaDon) REFERENCES tbHoaDonBan(MaHoaDon) ON DELETE CASCADE,
    FOREIGN KEY (MaSanPham) REFERENCES tbSanPham(MaSanPham) ON DELETE CASCADE
);
GO



CREATE TABLE tbTinTuc (
    MaTinTuc INT IDENTITY(1,1) PRIMARY KEY,
    TieuDe NVARCHAR(255) NOT NULL,
    NgayDang DATE NOT NULL,
    NoiDung NVARCHAR(MAX) NOT NULL,
    HinhAnh NVARCHAR(255) NULL
);
GO

CREATE TABLE tbQuanTriVien (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    TenNguoiDung NVARCHAR(255) NOT NULL,
    MatKhau NVARCHAR(255) NOT NULL
);
GO

select* from tbQuanTriVien


-- ==========================================
-- Dữ liệu mẫu cho các bảng của TheSpaceCoffee2
-- ==========================================
/***********************************************
 * 1. tbQuanCafe (Chi nhánh/quán cà phê)
 ***********************************************/
INSERT INTO tbQuanCafe (TenQuan, DiaChi, SDT, Email)
VALUES 
  (N'Quán A', N'123 Nguyễn Trãi, TP HCM', '0900000001', 'quana@example.com'),
  (N'Quán B', N'456 Lê Lợi, Hà Nội', '0900000002', 'quanb@example.com');
GO

/***********************************************
 * 2. tbNguyenLieu (Nguyên liệu)
 ***********************************************/
INSERT INTO tbNguyenLieu (TenNguyenLieu, SoLuong, DonViTinh, HanSuDung, DonGia, SoLuongToiThieu)
VALUES
  (N'Ca phê rang', 100, N'kg', '2025-12-31', 200000, 10),
  (N'Trà xanh', 50, N'kg', '2025-10-31', 150000, 5);
GO

/***********************************************
 * 3. tbNhomSanPham (Nhóm sản phẩm)
 ***********************************************/
-- (Dữ liệu mẫu đã có: bạn có thể sử dụng dữ liệu đã import trước đó cho tbNhomSanPham)
-- Ví dụ:
SET IDENTITY_INSERT [dbo].[tbNhomSanPham] ON 

INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (1, N'Cà phê')
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (2, N'Trà')
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (3, N'Trà sữa')
SET IDENTITY_INSERT [dbo].[tbNhomSanPham] OFF
GO



select * from tbNhomSanPham
select * from tbSanPham
select* from tbGioHang
/***********************************************
 * 4. tbSanPham (Sản phẩm - đã có dữ liệu mẫu)
 ***********************************************/
SET IDENTITY_INSERT [dbo].[tbSanPham] ON 

SET IDENTITY_INSERT [dbo].[tbSanPham] OFF
GO

/***********************************************
 * 1. tbQuanCafe (Chi nhánh/quán cà phê)
 * Khóa chính: MaQuan INT IDENTITY
 ***********************************************/
INSERT INTO tbQuanCafe (TenQuan, DiaChi, SDT, Email)
VALUES 
  (N'Quán A', N'123 Nguyễn Trãi, TP HCM', '0900000001', 'quana@example.com'),
  (N'Quán B', N'456 Lê Lợi, Hà Nội', '0900000002', 'quanb@example.com');
GO

select * from tbQuanCafe

/***********************************************
 * 2. tbNguyenLieu (Nguyên liệu)
 * Khóa chính: MaNguyenLieu INT IDENTITY
 ***********************************************/
INSERT INTO tbNguyenLieu (TenNguyenLieu, SoLuong, DonViTinh, HanSuDung, DonGia, SoLuongToiThieu)
VALUES
  (N'Cà phê rang', 100, N'kg', '2025-12-31', 200000, 10),
  (N'Trà xanh', 50, N'kg', '2025-10-31', 150000, 5);
GO





select* from tbNguyenLieu
delete from tbNguyenLieu

select* from tbPhieuNhapHang
select* from tbHoaDonBan
delete from tbPhieuNhapHang

select* from tbPhieuNhapChiTiet
delete from tbPhieuNhapChiTiet
/***********************************************
 * 5. tbNhaCungCap (Nhà cung cấp)
 * Khóa chính: MaNhaCungCap UNIQUEIDENTIFIER
 ***********************************************/
 DELETE FROM tbNguyenLieu
WHERE MaNguyenLieu BETWEEN 21 AND 62;
GO

ALTER TABLE TbHoaDonBan
DROP CONSTRAINT DF__tbHoaDonB__NgayL__05D8E0BE;

ALTER TABLE TbHoaDonBan
ALTER COLUMN NgayLap date;

ALTER TABLE TbHoaDonBan
ADD CONSTRAINT DF_tbHoaDonB_NgayLap DEFAULT (GETDATE()) FOR NgayLap;


ALTER TABLE tbPhieuNhapHang
DROP CONSTRAINT DF__tbPhieuNh__NgayL__797309D9;

ALTER TABLE tbPhieuNhapHang
ALTER COLUMN NgayLap date;

ALTER TABLE tbPhieuNhapHang
ADD CONSTRAINT DF__tbPhieuNh__NgayL__797309D9 DEFAULT (GETDATE()) FOR NgayLap;

INSERT INTO tbNhaCungCap ( TenNhaCungCap, DiaChi, SDTNCC, STK)
VALUES
  ( N'NCC 1', N'12 Trần Phú, TP HCM', '0901234567', '123456789'),
  ( N'NCC 2', N'34 Phan Đình Phùng, Hà Nội', '0907654321', '987654321');
GO

/***********************************************
 * 6. tbNhanVien (Nhân viên)
 * Khóa chính: MaNhanVien INT IDENTITY
 * MaQuan là khóa ngoại tham chiếu đến tbQuanCafe (INT)
 ***********************************************/
-- Giả sử hàng đầu tiên của tbQuanCafe có MaQuan = 1 và hàng thứ hai có MaQuan = 2
INSERT INTO tbNhanVien (MaQuan, HoTen, DiaChi, NgaySinh, GioiTinh, ChucVu, SDT, SoCCCD, Email, LuongCoBan, HeSoLuong)
VALUES(2, N'Thùy Linh', N'456 Lê Lợi', '1992-02-02', 'Nữ', N'Quản lý', '0903333454', '987854321', 'tl@example.com', 8000000, 1.5);
  (1, N'Nguyễn Văn A', N'123 Nguyễn Trãi', '1990-01-01', 'Nam', N'Barista', '0901111222', '123456789', 'nvA@example.com', 5000000, 1.2),
  (2, N'Lê Thị B', N'456 Lê Lợi', '1992-02-02', N'Nữ', N'Quản lý', '0903333444', '987654321', 'nvB@example.com', 8000000, 1.5);
  
GO

/***********************************************
 * 7. tbKhachHang (Khách hàng)
 * Khóa chính: MaKhachHang INT IDENTITY
 ***********************************************/
INSERT INTO tbKhachHang (TenKhachHang, SDTKhachHang, DiaChi)
VALUES
  (N'Phạm Văn C', '0912345678', N'789 Trần Hưng Đạo'),
  (N'Trần Thị D', '0987654321', N'101 Lý Thái Tổ');
GO

/***********************************************
 * 8. tbGioHang (Giỏ hàng)
 * Khóa chính ghép: (MaKhachHang, MaSanPham)
 * Giả sử: khách hàng đầu tiên (MaKhachHang = 1) mua sản phẩm có MaSanPham = 1,
 * khách hàng thứ hai (MaKhachHang = 2) mua sản phẩm có MaSanPham = 2.
 ***********************************************/
INSERT INTO tbGioHang (MaKhachHang, MaSanPham, SoLuong)
VALUES
  (1, 1, 2),
  (2, 2, 1);
GO

/***********************************************
 * 9. tbQuyen (Quyền/Role)
 * Khóa chính: MaQuyen INT IDENTITY
 ***********************************************/
INSERT INTO tbQuyen (TenQuyen)
VALUES
  (N'Admin'),
  (N'User');
GO

INSERT INTO tbQuyen (TenQuyen)
VALUES (N'Employee');
GO


/***********************************************
 * 10. tbTaiKhoan (Tài khoản nhân viên)
 * Khóa chính: MaTaiKhoan INT IDENTITY
 * Giả sử: sử dụng MaNhanVien = 1 và MaQuyen = 1 (hàng đầu tiên của tbNhanVien và tbQuyen)
 ***********************************************/
INSERT INTO tbTaiKhoan (TenTaiKhoan, MatKhau, MaNhanVien, MaQuyen)
VALUES
  (N'thuylinh', '969687dd6dce4d871484c6a0b4db71ee9a16bf97a40be4483a86e3b2b046b849', 6, 1);
GO


select* from tbTaiKhoan
select* from tbQuanTriVien
select* from tbNhanVien


select* from tbQuyen

select* from tbKhachHang
select* from tbTaiKhoanKH
select* from tbGioHang
select* from tbHoaDonBan
select* from tbChiTietHoaDonBan

select* from tbGioHang
select* from tbTaiKhoan
select* from tbNhanVien
select* from tbPhieuNhapChiTiet
select* from tbPhieuNhapHang
select* from tbNguyenLieu
select* from tbNhaCungCap
/***********************************************
 * 11. tbTaiKhoanKH (Tài khoản khách hàng)
 * Khóa chính: MaTaiKhoan INT IDENTITY
 * Giả sử: sử dụng MaKhachHang = 1 và MaQuyen = 2 (hàng đầu tiên của tbKhachHang, hàng thứ hai của tbQuyen)
 ***********************************************/
INSERT INTO tbTaiKhoanKH (TenTaiKhoan, MatKhau, MaKhachHang, MaQuyen)
VALUES
  (N'khuser1', 'pass123', 1, 2);
GO

/***********************************************
 * 12. tbPhieuNhapHang (Phiếu nhập hàng)
 * Khóa chính: MaPhieuNhap UNIQUEIDENTIFIER (mặc định NEWID())
 * Các khóa ngoại:
 *   - MaQuan: tham chiếu đến tbQuanCafe (INT) -> sử dụng 1 (Quán A)
 *   - MaNhanVien: tham chiếu đến tbNhanVien (INT) -> sử dụng 1
 *   - MaNhaCungCap: tham chiếu đến tbNhaCungCap (UNIQUEIDENTIFIER)
 ***********************************************/
DECLARE @MaPhieuNhap UNIQUEIDENTIFIER = NEWID();

INSERT INTO tbPhieuNhapHang (MaPhieuNhap, MaQuan, NgayLap, MaNhanVien, MaNhaCungCap, GhiChu)
VALUES (@MaPhieuNhap, 1, GETDATE(), 1, 1, N'Phiếu nhập đầu tháng');

select* from tbPhieuNhapHang

/***********************************************
 * 13. tbPhieuNhapChiTiet (Chi tiết phiếu nhập)
 * Khóa chính ghép: (MaPhieuNhap, MaNguyenLieu)
 * MaNguyenLieu: tham chiếu đến tbNguyenLieu (INT) -> sử dụng 1 (Ca phê rang)
 ***********************************************/
INSERT INTO tbPhieuNhapChiTiet (MaPhieuNhap, MaNguyenLieu, SoLuong, DonGia)
VALUES (@MaPhieuNhap, 1, 10, 180000);

select* from tbPhieuNhapChiTiet

/***********************************************
 * 14. tbHoaDonBan (Hóa đơn)
 * Khóa chính: MaHoaDon UNIQUEIDENTIFIER (mặc định NEWID())
 * Các khóa ngoại:
 *   - MaQuan: tham chiếu đến tbQuanCafe (INT) -> sử dụng 1
 *   - MaNhanVien: tham chiếu đến tbNhanVien (INT) -> sử dụng 1
 *   - MaKhachHang: tham chiếu đến tbKhachHang (INT) -> sử dụng 1
 ***********************************************/
DECLARE @MaHoaDon UNIQUEIDENTIFIER = NEWID();

INSERT INTO tbHoaDonBan (MaHoaDon, MaQuan, NgayLap, MaNhanVien, MaKhachHang, HinhThucThanhToan, TongTien, TrangThai, TrangThaiThanhToan)
VALUES
  (@MaHoaDon, 1, GETDATE(), 2, 2, N'Tiền mặt', 390000, 'Hoàn thành', 1);

  select * from tbHoaDonBan

/***********************************************
 * 15. tbChiTietHoaDonBan (Chi tiết hóa đơn)
 * Khóa chính ghép: (MaHoaDon, MaSanPham)
 * Giả sử: hóa đơn @MaHoaDon chứa sản phẩm có MaSanPham = 1
 ***********************************************/

INSERT INTO tbChiTietHoaDonBan (MaHoaDon, MaSanPham, SoLuong, DonGia)
VALUES
  (@MaHoaDon, 2, 10, 39000);
GO



select*from tbHoaDonBan
select* from tbChiTietHoaDonBan

SET IDENTITY_INSERT [dbo].[tbTinTuc] ON 

SET IDENTITY_INSERT [dbo].[tbTinTuc] OFF
GO




SET IDENTITY_INSERT [dbo].[tbQuanTriVien] ON 

INSERT [dbo].[tbQuanTriVien] ([Id], [TenNguoiDung], [MatKhau]) VALUES (1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918')
SET IDENTITY_INSERT [dbo].[tbQuanTriVien] OFF
GO

select * from tbNhomSanPham
delete from tbGioHang

select* from tbGioHang

ALTER TABLE tbGioHang
ALTER COLUMN SoLuong INT NOT NULL;

ALTER TABLE tbGioHang
DROP CONSTRAINT CK__tbGioHang__SoLuo__6754599E;

ALTER TABLE tbGioHang
ALTER COLUMN SoLuong INT NOT NULL;

ALTER TABLE tbGioHang
ADD CONSTRAINT CK_tbGioHang_SoLuong CHECK (SoLuong >= 0);


SELECT 
    cc.name,
    cc.[definition]
FROM sys.check_constraints cc
WHERE cc.name = 'CK__tbHoaDonB__HinhT__06CD04F7';

ALTER TABLE dbo.tbHoaDonBan
DROP CONSTRAINT CK__tbHoaDonB__HinhT__06CD04F7;
GO
[CK__tbHoaDonB__Trang__08B54D69]
ALTER TABLE dbo.tbHoaDonBan
ADD CONSTRAINT CK__tbHoaDonB__HinhT__06CD04F7
CHECK ([HinhThucThanhToan] = N'QR' 
       OR [HinhThucThanhToan] = N'Chuyển khoản' 
       OR [HinhThucThanhToan] = N'Tiền mặt');
GO


SELECT 
    cc.name,
    cc.[definition]
FROM sys.check_constraints cc
WHERE cc.name = '[CK__tbHoaDonB__Trang__08B54D69]';

ALTER TABLE dbo.tbHoaDonBan
DROP CONSTRAINT [CK__tbHoaDonB__Trang__08B54D69];
GO

ALTER TABLE dbo.tbHoaDonBan
ADD CONSTRAINT [CK__tbHoaDonB__Trang__08B54D69]
CHECK ([TrangThai]= N'Hoàn Thành' 
           OR [TrangThai]= N'Đã hủy' 
       OR [TrangThai] = N'Chưa hoàn Thành');
     
GO

SELECT 
    cc.name,
    cc.[definition]
FROM sys.check_constraints cc
WHERE cc.name = '[CK__tbNhanVie__GioiT__5EBF139D]';

ALTER TABLE [dbo].[tbNhanVien]
DROP CONSTRAINT [CK__tbNhanVie__GioiT__5EBF139D];
GO

SELECT MaNhanVien, GioiTinh
FROM tbNhanVien
WHERE GioiTinh NOT IN (N'Nam', N'Nữ');

UPDATE tbNhanVien
SET GioiTinh = N'Nữ'
WHERE HoTen = N'Thùy Linh'
GO


ALTER TABLE tbNhanVien
ADD CONSTRAINT CK_GioiTinh CHECK (GioiTinh IN (N'Nam', N'Nữ'));
GO



ALTER TABLE dbo.tbHoaDonBan
ADD CONSTRAINT [CK__tbNhanVie__GioiT__5EBF139D]
CHECK ([TrangThai]= N'Hoàn Thành' 
           OR [TrangThai]= N'Đã hủy' 
       OR [TrangThai] = N'Chưa hoàn Thành');
     
GO

select* from tbQuanTriVien
select* from tbTinTuc


EXEC sp_help 'dbo.tbHoaDonBan';
ALTER TABLE dbo.tbHoaDonBan
ALTER COLUMN MakhachHang INT NOT NULL;
GO





ALTER TABLE tbHoaDonBan
ADD GiamGia DECIMAL(10,2) NOT NULL DEFAULT 0;

	select * from tbSanPham

ALTER TABLE tbSanPham
alter column VerifyKey nvarchar(255) null